@model MecProj.Models.Cliente

@{
    ViewData["Title"] = "Create";
}
<header>
    <style>
        #formulario {
            margin-right: 50%;
            margin-top: 2%;
            width: 800px;
        }
    </style>
</header>


<h1>Cadastro de Pessoa Física</h1>
<hr />
<div id="formulario">
    <form class="form-group" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row form-content">
            <div class="form-group col-md-7">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" placeholder="Nome Completo." />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Cpf" class="control-label">CPF</label>
                <input asp-for="Cpf" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" onKeyPress="MascaraGenerica(this, 'CPF')" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-7">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Digite o Email." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-5">
                <label asp-for="TelefoneCelular" class="control-label">Telefone Celular</label>
                <input asp-for="TelefoneCelular" class="form-control" placeholder="(00) 00000-0000" onKeyPress="MascaraGenerica(this, 'TELEFONE')" />
                <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="TelefoneRecado" class="control-label">Telefone Recado</label>
                <input asp-for="TelefoneRecado" class="form-control" placeholder="Fixo ou Celular" onKeyPress="MascaraGenerica(this, 'TELEFONE')" />
                <span asp-validation-for="TelefoneRecado" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" id="estado" class="form-control" onchange="buscaCidades(this.value)">
                    <option hidden selected>SELECIONAR</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="PR">Paraná</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Cidade" class="control-label"></label>
                <select class="form-control" asp-for="Cidade" id="cidade" onchange="buscaBairro(this.value)">
                    <option value="" hidden>SELECIONAR</option>
                </select>
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" placeholder="Bairro." />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" placeholder="Endereço." />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" min="1" placeholder="Número." />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" placeholder="Informações." />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" /> ||
            <a class="btn btn-info" asp-action="Index">Voltar a lista</a>
        </div>

    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
