@model MecProj.Models.Empresa

@{
    ViewData["Title"] = "Edit";
}




<script>
    var json_cidades = {
        "estados": [
            {
                "sigla": "SC",
                "nome": "Santa Catarina",
                "cidades": [
                    "Blumenau",
                    "Indaial",
                    "Gaspar",
                    "Pomerode",
                    "Rio do Sul"
                ]
            }
            ,
            {
                "sigla": "PR",
                "nome": "Parana",
                "cidades": [
                    "Curitiba"
                ]
            }
        ]
    };
    // FIM DO .js

    function buscaCidades(e) {
        document.querySelector("#cidade").innerHTML = '';
        var cidade_select = document.querySelector("#cidade");

        var num_estados = json_cidades.estados.length;
        var j_index = -1;

        // aqui eu pego o index do Estado dentro do JSON
        for (var x = 0; x < num_estados; x++) {
            if (json_cidades.estados[x].sigla == e) {
                j_index = x;
            }
        }
        if (j_index != -1) {
            // aqui eu percorro todas as cidades e crio os OPTIONS
            json_cidades.estados[j_index].cidades.forEach(function (cidade) {
                var cid_opts = document.createElement('option');
                cid_opts.setAttribute('value', cidade)
                cid_opts.innerHTML = cidade;
                cidade_select.appendChild(cid_opts);
            });
        } else {
            document.querySelector("#cidade").innerHTML = '';
        }
    };

    /////
    function MascaraInteiro(num) {
        var er = /[^0-9]/;
        er.lastIndex = 0;
        var campo = num;
        if (er.test(campo.value)) {///verifica se é string, caso seja então apaga
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
            return false;
        } else {
            return true;
        }
    }
    function MascaraFloat(num) {
        var er = /[^0-9.,]/;
        er.lastIndex = 0;
        var campo = num;
        if (er.test(campo.value)) {///verifica se é string, caso seja então apaga
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
            return false;
        } else {
            return true;
        }
    }
    //formata de forma generica os campos
    function formataCampo(campo, Mascara) {
        var er = /[^0-9/ (),.-]/;
        er.lastIndex = 0;

        if (er.test(campo.value)) {///verifica se é string, caso seja então apaga
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
        }
        var boleanoMascara;
        var exp = /\-|\.|\/|\(|\)| /g
        var campoSoNumeros = campo.value.toString().replace(exp, "");
        var posicaoCampo = 0;
        var NovoValorCampo = "";
        var TamanhoMascara = campoSoNumeros.length;
        for (var i = 0; i <= TamanhoMascara; i++) {
            boleanoMascara = ((Mascara.charAt(i) == "-") || (Mascara.charAt(i) == ".")
                || (Mascara.charAt(i) == "/"))
            boleanoMascara = boleanoMascara || ((Mascara.charAt(i) == "(")
                || (Mascara.charAt(i) == ")") || (Mascara.charAt(i) == " "))
            if (boleanoMascara) {
                NovoValorCampo += Mascara.charAt(i);
                TamanhoMascara++;
            } else {
                NovoValorCampo += campoSoNumeros.charAt(posicaoCampo);
                posicaoCampo++;
            }
        }
        campo.value = NovoValorCampo;
        ////LIMITAR TAMANHO DE CARACTERES NO CAMPO DE ACORDO COM A MASCARA//
        if (campo.value.length > Mascara.length) {
            var texto = $(campo).val();
            $(campo).val(texto.substring(0, texto.length - 1));
        }
        //////////////
        return true;
    }

    function MascaraMoeda(i) {
        var v = i.value.replace(/\D/g, '');
        v = (v / 100).toFixed(2) + '';
        v = v.replace(".", ",");
        v = v.replace(/(\d)(\d{3})(\d{3}),/g, "$1.$2.$3,");
        v = v.replace(/(\d)(\d{3}),/g, "$1.$2,");
        i.value = v;
    }

    function MascaraGenerica(seletor, tipoMascara) {
        setTimeout(function () {
            if (tipoMascara == 'CPFCNPJ') {
                if (seletor.value.length <= 14) { //cpf
                    formataCampo(seletor, '000.000.000-00');
                } else { //cnpj
                    formataCampo(seletor, '00.000.000/0000-00');
                }
            } else if (tipoMascara == 'DATA') {
                formataCampo(seletor, '00/00/0000');
            } else if (tipoMascara == 'CEP') {
                formataCampo(seletor, '00.000-000');
            } else if (tipoMascara == 'TELEFONE') {
                formataCampo(seletor, '(00) 000000000');
            } else if (tipoMascara == 'INTEIRO') {
                MascaraInteiro(seletor);
            } else if (tipoMascara == 'FLOAT') {
                MascaraFloat(seletor);
            } else if (tipoMascara == 'CPF') {
                formataCampo(seletor, '000.000.000-00');
            } else if (tipoMascara == 'CNPJ') {
                formataCampo(seletor, '00.000.000/0000-00');
            } else if (tipoMascara == 'MOEDA') {
                MascaraMoeda(seletor);
            }
        }, 200);
    }
</script>

<header>
    <style>
        #formulario {
            margin-right: 50%;
            margin-top: 2%;
            width: 800px;
        }
    </style>
</header>



<h1>Editar <b>@Model.Razão_Social</b></h1>


<div id="formulario">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-row form-content">
            <div class="form-group col-md-7">
                <label asp-for="Razão_Social" class="control-label"></label>
                <input asp-for="Razão_Social" class="form-control" placeholder="Nome Empresa" />
                <span asp-validation-for="Razão_Social" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" onKeyPress="MascaraGenerica(this, 'CNPJ')" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-7">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Digite o Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-5">
                <label asp-for="Telefone_Celular" class="control-label"></label>
                <input asp-for="Telefone_Celular" class="form-control" placeholder="(00) 00000-0000" onKeyPress="MascaraGenerica(this, 'TELEFONE')" />
                <span asp-validation-for="Telefone_Celular" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Telefone_Recado" class="control-label"></label>
                <input asp-for="Telefone_Recado" class="form-control" placeholder="Fixo ou Celular" onKeyPress="MascaraGenerica(this, 'TELEFONE')" />
                <span asp-validation-for="Telefone_Recado" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" id="estado" class="form-control">
                    <option hidden selected>SELECIONAR</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="PR">Paraná</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" placeholder="Cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" placeholder="Bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" placeholder="Endereço" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" min="1" placeholder="Número" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" placeholder="Informações" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" /> ||
            <a class="btn btn-info" asp-action="Index">Voltar a lista</a>
        </div>
    </form>


</div>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
